<% if user_signed_in? %>
<h1>Felicidades!! Sabías que a Martín Iglesias le gusta el pit#</h1>
<% else %> 
<div class="hero-unit">
<h1>Welcome</h1>

	<p> 
		You've found the home page for <%= link_to "Descúbrela", "http://www.descubre.la" %>  web and mobile application. 
	</p>
			
	<p> 
		<%= link_to "Sing Up Now", new_user_registration_path, class: "btn btn-primary btn-large" %> 
	</p>
</div>
<% end %>
