<h1>Welcome</h1>

	<p> 
		You've found the home page for <%= link_to "Descúbrela", "http://www.descubre.la" %>  web and mobile application. 
	</p>
			
	<p> 
		<%= link_to "Sing Up Now", "#"%> 
	</p>
 


